In [1]:
import gzip
import json
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.sparse import coo_matrix
from torch_geometric.utils.convert import from_scipy_sparse_matrix
import torch
from pandas import json_normalize
from IPython.display import display

In [2]:
print(torch.cuda.is_available())
device = torch.device('cuda')

False

In [3]:
with gzip.open('../data/RosettaStone-GraphData-2023-09-22/superblue1/1/superblue1.json.gz','rb') as f:
    design = json.loads(f.read().decode('utf-8'))
    
instances = pd.DataFrame(design['instances'])
nets = pd.DataFrame(design['nets'])

conn=np.load('../data/RosettaStone-GraphData-2023-09-22/superblue1/superblue1_connectivity.npz')
A = coo_matrix((conn['data'], (conn['row'], conn['col'])), shape=conn['shape'])

with gzip.open('../data/RosettaStone-GraphData-2023-09-22/cells.json.gz', 'rb') as f:
    cells_json = json.loads(f.read())
cells = pd.DataFrame(cells_json).drop(columns=['name', 'width', 'height']).set_index('id')

In [4]:
cells['terms'] = cells['terms'].apply(lambda x: pd.DataFrame(x))
cells

                                                   terms
id
0         name  id  dir  xloc  yloc
0     A   1    0 ...
1         name  id  dir  xloc  yloc
0     A   1    0 ...
2         name  id  dir  xloc  yloc
0     A   1    0 ...
3         name  id  dir   xloc  yloc
0     D   1    0...
4         name  id  dir  xloc  yloc
0     A   1    0 ...
...                                                  ...
30131              Empty DataFrame
Columns: []
Index: []
30132              Empty DataFrame
Columns: []
Index: []
30133              Empty DataFrame
Columns: []
Index: []
30134              Empty DataFrame
Columns: []
Index: []
30135              Empty DataFrame
Columns: []
Index: []

[30136 rows x 1 columns]

In [5]:
instances.head()

    name  id     xloc     yloc  cell  orient
0     o0   0  3567360  5044950   132       0
1     o1   1  2863200  5351310   359       6
2    o10   2  2846400  5351310   176       0
3   o100   3  2508000  5744250   224       0
4  o1000   4  2479680  5757570   360       0

In [6]:
A_tensor = torch.sparse_coo_tensor(
    torch.FloatTensor([A.row, A.col]),
    torch.Tensor(A.data)
).coalesce()
#A_tensor.to(device)

/tmp/ipykernel_2189/825442066.py:2: UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow. Please consider converting the list to a single numpy.ndarray with numpy.array() before converting to a tensor. (Triggered internally at ../torch/csrc/utils/tensor_new.cpp:261.)
  torch.FloatTensor([A.row, A.col]),

In [7]:
A_tensor

tensor(indices=tensor([[     0,      0,      0,  ..., 797937, 797937, 797937],
                       [613721, 613832, 613943,  ...,      0, 756354, 822927]]),
       values=tensor([1., 2., 3.,  ..., 3., 1., 2.]),
       size=(797938, 823024), nnz=2948927, layout=torch.sparse_coo)

In [ ]:
def direct(r, c, val):
    direction = cells['terms'][c].loc[val]['dir']
    if direction == 1:
        return 0
    return 1

In [ ]:
A_tensor.indices()

In [ ]:
A_tensor.values()