In [1]:
import gzip
import json
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.sparse import coo_matrix
from torch_geometric.utils.convert import from_scipy_sparse_matrix

In [2]:
with gzip.open('../data/RosettaStone-GraphData-2023-09-22/superblue1/1/superblue1.json.gz','rb') as f:
    design = json.loads(f.read().decode('utf-8'))
    
instances = pd.DataFrame(design['instances'])
nets = pd.DataFrame(design['nets'])

conn=np.load('../data/RosettaStone-GraphData-2023-09-22/superblue1/superblue1_connectivity.npz')
A = coo_matrix((conn['data'], (conn['row'], conn['col'])), shape=conn['shape'])

In [3]:
with gzip.open('../data/RosettaStone-GraphData-2023-09-22/cells.json.gz', 'rb') as f:
    cells_json = json.loads(f.read())
cells = pd.DataFrame(cells_json).drop(columns=['name', 'width', 'height']).set_index('id')

In [4]:
cells.head()

                                                terms
id
0   [{'name': 'A', 'id': 1, 'dir': 0, 'xloc': 2110...
1   [{'name': 'A', 'id': 1, 'dir': 0, 'xloc': 1170...
2   [{'name': 'A', 'id': 1, 'dir': 0, 'xloc': 3160...
3   [{'name': 'D', 'id': 1, 'dir': 0, 'xloc': 630,...
4   [{'name': 'A', 'id': 1, 'dir': 0, 'xloc': 415,...

In [5]:
instances.head()

    name  id     xloc     yloc  cell  orient
0     o0   0  3567360  5044950   132       0
1     o1   1  2863200  5351310   359       6
2    o10   2  2846400  5351310   176       0
3   o100   3  2508000  5744250   224       0
4  o1000   4  2479680  5757570   360       0

In [1]:
A.toarray()

NameError: name 'A' is not defined